// Why does it break if i import all the styles folder not only this file????
@use "../styles/variables.scss" as *;

// BASIC RESET FOR THE APP - RESETTING MARGINS, PADDINGS, basic tag styles , a, ul,ol,li,input
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 62.5%; // 10px
  font-family: $main-font;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
