// FONT
$main-font: "Overpass", sans-serif;

// COLORS
$white: #fff;
$white-second: #edf2f4;

$black: #000;

// BREAKPOINTS
$mobile-small: 320px;
$mobole-medium: 375px;
$mobile: 425px;

$tablet-small: 768px;
$tablet: 1040px;

$laptop: 1280px;
$laptop-large: 1440px;

$desktop: 1920px;
